force-app/main/default/flows/Wait.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Queued</name>
        <label>Queued?</label>
        <locationX>609</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobInfo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Request</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobInfo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>TenSeconds</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24-1/1440)</expression>
    </formulas>
    <interviewLabel>Wait {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wait</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Failed_Request</name>
        <label>Failed Request</label>
        <locationX>820</locationX>
        <locationY>49</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>RusInt callout returned error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Variable1.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Queued_Request</name>
        <label>Check Queued Request</label>
        <locationX>432</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queued</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </filters>
        <object>AsyncApexJob</object>
        <outputReference>JobInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Dummy_Default</name>
        <label>Dummy Default</label>
        <locationX>229</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Variable1.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Variable1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>JigsawContactId</queriedFields>
    </recordLookups>
    <startElementReference>Sleep</startElementReference>
    <status>Active</status>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AsyncApexJob</objectType>
    </variables>
    <variables>
        <name>Record1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Variable1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <waits>
        <description>Sleep for 1 sec</description>
        <name>Sleep</name>
        <label>Sleep</label>
        <locationX>228</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Dummy_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Sleep_1sec</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_Queued_Request</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>TenSeconds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Sleep 1sec</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>617</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Sleep1sec</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_Queued_Request</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>TenSeconds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Sleep 1sec</label>
        </waitEvents>
    </waits>
</Flow>
